<main id="main" class="main">
    <div class="row">
        <div class="col-lg-12">


<div class="cartBox">
    <h3 class="text-primary">Shopping Cart</h3>
  <div class="headCart">
    <p class="lead">You have <label class="text-danger ">{{cartProducts.length}}</label> item in your cart</p>
    <span class="text-danger card-header" (click)="clearCart()">Clear Shopping Cart</span>
  </div>
    <table class="table table-striped">
        <thead class="fxFlexAlign="center>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th style="width: 25%;">Quantity</th>
                <th>Totale</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartProducts; let index = index" >
                <td><img src="{{item.item.url}}" alt=""></td>
                <td>{{item.item.name}}</td>
                <td>{{item.item.price}} $</td>
                <td>
                    <div class="quantity">
                        <button class="btn btn-dark" (click)="addAmount(index)" >+</button>
                        <input class="form-control"  type="number" (change)="detectChange()" [(ngModel)]="item.quantity" min="1">
                        <button class="btn btn-dark" (click)="minsAmount(index)" >-</button>
                    </div>
                </td>
                <td>{{item.item.price * item.quantity}} $</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteProduct(index)" >Delete</button>
                </td>
            </tr>
        </tbody> 
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="2"><h5><strong>Total : {{total}} $</strong></h5></th>
            </tr>
        </tfoot>
      
    </table>
    <form class="row g-3" *ngIf="cartProducts.length>=1">
        <div class="col-md-6 col-xl-6">
            <div class="form-floating"> 
                <!-- <input type="text" class="form-control" formControlName="fullName" id="fullName">  -->
                <input type="text" id="name" class="form-control" [(ngModel)]="name" name="name" minlength="3"  placeholder="(min 3)"
                (ngModelChange)="validateForm()">

                <label for="Caisse">Full Name (min 3)</label></div>
         </div>
         <div class="col-md-6 col-xl-6">
            <div class="form-floating"> 
                <input type="text" class="form-control" id="address" [(ngModel)]="address" name="address" placeholder="(min 6 )"
                minlength="6" (ngModelChange)="validateForm()">
                <!-- <input type="text" class="form-control" formControlName="adress" id="adress" >  -->
                <label for="Caisse">Adress (min 6)</label></div>
         </div>
         <div class="col-md-12 col-xl-12">
            <div class="form-floating">
                <input type="number" class="form-control" id="creditcard" [(ngModel)]="creditcard" name="creditcard" maxlength="16"
                placeholder="(should be 16 digits )"
                 (ngModelChange)="validateForm()">
                <!-- <input type="number" class="form-control" formControlName="creditCart" id="creditCart" >  -->
                <label for="creditCart">Credit cart number (16 digits)</label></div>
         </div>
        
         <button class="btn btn-success" type="button" (click)="checkout()" [disabled]="!isValid" style="width: 105%;">Checkout</button>

                
         <!-- <button class="btn btn-success" (Click)="checkout()" [disabled]="!isValid" style="width: 105%;">Checkout</button> -->
     </form>
    
</div>
<div class="alert alert-success" role="alert" *ngIf="success"><strong>Well done!</strong> Your Order is Successfully Send</div>

</div>
</div>
</main>